doctype html
html
    head
        title Primul Proiect
        meta(name="description", content="This is a HTML replica of w3schools")
        link(rel="stylesheet", href="style.css")
    body
        header    
             a.current(href="/") Home
             a(href="/") HTML
             a(href="/") CSS
             a(href="/") JAVASCRIPT  

        article
            h1 This is a replica of w3schools.com 
            p bbb    
            h1 HTML
            p The language for building web pages. #[a(href="/css") Link]
            h1 CSS 
            p The language for styling web pages #[a(href="/css") Link]
            h1 Javascript 
            p The language for programming web pages #[a(href="/css") Link]   

        nav
            h3 Html and CSS
            a(href="/html") Learn Html
            a(href="/css") Learn Css
            a(href="/javascript") Learn Javascript
                                    

        footer &copy; 2017 My name is awesome    